.nav-bar-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0.5%;
  transform: translateY(100%);
  background-color: #2e2a7d;
  padding: 0.3em;
  border-radius: 0.7em;
}

.nav-bar-button {
  height: 4em;
  width: 4em;
  border-radius: 3em;
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #07ebc1;

  &:hover {
    cursor: pointer;
    background-color: white;
  }

  &.selected {
    background-color: white;
  }
}

.calendar-icon {
  font-size: 2em;
  color: #2e2a7d;
}

.shopping-icon {
  font-size: 2.2em;
  margin-top: 0.2em;
  margin-right: 0.1em;
  color: #2e2a7d;
}

.notes-icon {
  margin-top: 0.2em;
  font-size: 2em;
  color: #2e2a7d;
}

.exit-icon {
  margin-top: 0.2em;
  font-size: 2em;
  color: #2e2a7d;
}