.sent-requests-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 0.7em;
  margin: 1em;
  width: 25%;
  position: absolute;
  top: 15%;
  left: 0;

  .individual-request-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2a7d;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    width: 100%;
  }

  .requestee-username {
    color: #ffffff;
    font-size: 1.5em;
  }

  .sent-request-status {
    background-color: #07ebc1;
    color: #2e2a7d;
    font-size: 1.5em;
    padding: 0.2em;
    border-radius: 0.3em;
  }
}
