.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2e2a7d;
}

.landing-welcome-message {
  color: #ffffff;
  font-size: 2.5em;
  margin-bottom: 1em;
  text-align: center;
}

.landing-page-button {
  padding: 0.5em 2em;
  background-color: #07ebc1;
  border: none;
  border-radius: 0.3em;
  color: #2e2a7d;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0.5em;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #ffffff;
    color: #2e2a7d;
  }
}
