.calendar-container {
  width: 95%;
}

.calendar-view-buttons-container {
  position: absolute;
  top: 1%;
  margin-left: 0.4em;
}

.calendar-view-button {
  margin-right: 1em;
  padding: 0.5em 1em;
  background-color: #07ebc1;
  border: none;
  border-radius: 0.3em;
  color: #2e2a7d;
  font-size: 1em;
  cursor: pointer;

  &:hover {
    background-color: #2e2a7d;
    color: white;
  }
}