.calendar-days-container {
  margin-top: 7em;
  display: flex;
  flex-wrap: wrap;
}

.individual-day-container {
  height: 13em;
  width: 11em;
  border: solid;
  border-color: #2e2a7d;
  border-radius: 0.4em;
  margin: 0.3em;

  &:hover {
    cursor: pointer;
  }
}

.day-info-container {
  display: flex;
}

.day-number {
  margin-left: 0.5em;
  font-size: 1.2em;
  padding: 0.2em;
  padding-right: 0.3em;
  border-radius: 1em;
  background-color: rgb(45, 181, 45);

  &.selected {
    background-color: red;
  }
}

.day-of-the-week {
  margin-left: 3em;
}

.day-component-individual-event-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.15em;
  margin-bottom: 0.2em;
  border-radius: 0.3em;
  padding: 0.2em;
  width: 92%;

  &.meeting {
    background-color: #007BFF;
  }

  &.social_event {
    background-color: #28A745;
  }

  &.appointment {
    background-color: #FFC107;
  }

  &.workout_exercise {
    background-color: #DC3545;
  }

  &.educational {
    background-color: #6F42C1;
  }

  &.celebration {
    background-color: #E83E8C;
  }

  &.reminder {
    background-color: #17A2B8;
  }

  &.travel {
    background-color: #FD7E14;
  }

  &.entertainment {
    background-color: #6C757D;
  }

  &.religious_spiritual {
    background-color: #343A40;
  }
}

.day-component-event-title {
  margin: 0em;
  margin-right: 1em;
  color: white;
}

.day-component-event-button {
  float: right;
  border: none;
  border-radius: 2em;
  background-color: white;
  color: red;

  &:hover {
    cursor: pointer;
    background-color: red;
    color: white;
  }
}